body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.panel {
    width: 320px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #2563eb;
}

#signal {
    font-size: 28px;
    margin: 20px 0;
    padding: 20px;
    background: green;
    border-radius: 10px;
}

canvas {
    margin-top: 10px;
    background: #111827;
    width: 100%;
}